:root {
    /* These are now set in the script, so there's no real need to set them here. anymore
    --subtle: #101522;

    --bg: #212733;
    --fg: #fffae8;

    --txtbg: #2f3745;
    --txtfg: #fffae8;

    --hbig: #88cae8;
    --hmed: #e8a788;

    --lborder: #e8faff;

     */
}

/* LAYOUT */
html, body {
    height: 100%;
}

.hbox {
    display: flex;
    flex-flow: row;
}

.vbox {
    display: flex;
    flex-flow: column;
}

.expander {
    display: flex;
    flex: 1 1 auto;
}

.centered {
    text-align: center;
}

.background {
    z-index: -1;
}

.overlay {
    z-index: 3;
}

.scroll {
    overflow: auto;
}

.sticky {
    position: sticky;
    align-self: flex-start;
    top: 0;
}


/* STYLE */
body {
    background-color: var(--bg);
    color: var(--fg);
    /*font-size: 2em;*/
    font-family: "Roboto", sans-serif;
}

.shadow {
    box-shadow: 0.1em 0.2em 0.5em color-mix(in srgb, var(--subtle) 60%, transparent);
}

.mod {
    background-color: var(--txtbg);
    border-radius: 0.7em;
    margin: 0.5em;
    padding: 0.5em 1.5em;
}

/* Check for blurring support */
@supports(backdrop-filter: blur(1em)) {
    .glass {
        background-color: color-mix(in srgb, var(--txtbg) 60%, transparent);
        backdrop-filter: blur(1em);
        overflow: clip;
        position: relative;
    }

}

@supports(-webkit-backdrop-filter: blur(1em)) {
    .glass {
        background-color: color-mix(in srgb, var(--txtbg) 60%, transparent);
        -webkit-backdrop-filter: blur(1em);
    }
}

.glass:before {
    content: "";
    background-color: #fff3;
    z-index: -1;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 2em;
    filter: blur(4em);
    mix-blend-mode: multiply;
}

.glass:after {
    content: "";
    background-color: #0006;
    z-index: -1;
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 2em;
    filter: blur(4em);
    mix-blend-mode: multiply;
}

/* "Plain" mod */
.pmod {
    background-color: var(--txtbg);
    box-shadow: 0.1em 0.2em 0.5em color-mix(in srgb, var(--subtle) 60%, transparent);
    border-radius: 1vh;
    margin: 1vh;
    padding: 0.5em 1.5em;
}

.txt {
    color: var(--txtfg);
}

.subtle {
    color: var(--subtle);
}

h1, h2, h3 {
    color: var(--hbig);
}

h4, h5, h6 {
    color: var(--hmed);
}

.normheader {
    color: var(--fg);
}
