:root {
    --subtle: #101522;

    --bg: #212733;
    --fg: #fffae8;

    --txtbg: #2f3745;
    --txtfg: #fffae8;

    --hbig: #88cae8;
    --hmed: #e8a788;

    --lborder: #e8faff33;

    /*
    --subtle: #5d788e;;

    --bg: #f0f3fa;
    --fg: #f0f3fa;


    --txtbg: #464d53;
    --txtfg: #e9f3fa;

    --hbig: #88cae8;
    --hmed: #e8a788;

    --lborder: #5d788e;
     */
}

/* LAYOUT */
html, body {
    height: 100%;
}

.hbox {
    display: flex;
    flex-flow: row;
}

.vbox {
    display: flex;
    flex-flow: column;
}

.expander {
    display: flex;
    flex: 1 1 auto;
}

.centered {
    text-align: center;
}

.background {
    z-index: -1;
}

.overlay {
    z-index: 3;
}


/* STYLE */
body {
    background-color: var(--bg);
    color: var(--fg);
    /*font-size: 2em;*/
    font-family: "Roboto", sans-serif;
}

.mod {
    background-color: var(--txtbg);
    border-radius: 0.7em;
    margin: 0.5em;
    padding: 0.5em 1.5em;
}

.shadow {
    box-shadow: 0.1em 0.2em 0.5em color-mix(in srgb, var(--subtle) 60%, transparent);
}

/* Check for blurring support */
@supports(backdrop-filter: blur(1em)) {
    .mod {
    background-color: color-mix(in srgb, var(--txtbg) 60%, transparent);
    backdrop-filter: blur(0.7em);
    }
}

@supports(-webkit-backdrop-filter: blur(1em)) {
    .mod {
    background-color: color-mix(in srgb, var(--txtbg) 60%, transparent);
    -webkit-backdrop-filter: blur(0.7em);
    }
}

/* "Plain" mod */
.pmod {
    background-color: var(--txtbg);
    box-shadow: 0.1em 0.2em 0.5em color-mix(in srgb, var(--subtle) 60%, transparent);
    border-radius: 1vh;
    margin: 1vh;
    padding: 0.5em 1.5em;
}

.txt {
    color: var(--txtfg);
}

.codeBox {
    background-color: var(--bg);
    margin: 0.5vh 0.5vh; padding: 0.3em 1.5em;
    border: 0.2em solid var(--lborder);
    border-radius: 0.5vh;
    font-family: monospace;
}

.subtle {
    color: var(--subtle);
}

h1, h2, h3 {
    color: var(--hbig);
}

h4, h5, h6 {
    color: var(--hmed);
}

.normheader {
    color: var(--fg);
}
