/* general */
body {
    font-size: 1em;
}

/* DECORATION/ANIMATION */
hr {
    background-color: var(--lborder);
    height: 0.1em;
    border: 0;
    border-top: 0.1em solid var(--lborder);
    
}

@media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: view()) {
        .glass {
            scale: 0.9; opacity: 0;
            animation: fade-in ease forwards;
            animation-timeline: view(80vh 0);
        }

        @keyframes fade-in {
            to { scale: 1; opacity: 1; }
        }
    }
}

/* SIDE MENU */
@media (max-device-aspect-ratio: 1/1) {
    #divSideContent, #divRightContent {
        display: none;
    }
}


#divSideMenu {
    min-width: 20vw;
    height: auto;
}

/* BACKGROUND */
#divBgClip {
    background-color: inherit;
    /*image*/
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F7f%2F23%2Fa0%2F7f23a01313cac8a605fec4344665b635.jpg&f=1&nofb=1&ipt=d7ce7e58b994e8438f353fdce8b32e7f5df44504a7bdb3ddddc2dc68c76263d6&ipo=images");
    background-repeat: no-repeat;
    background-size: 100vw auto;

    clip-path: polygon(0 32vh, 100% 25vh, 100% 0, 0 0);
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 100%;
}


/* HAND MENU */
#divHandMenu {
    position: fixed;
    right: 1.5em; top: 90%;
    filter: drop-shadow(0 0 1em color-mix(in srgb, var(--subtle) 20%, #0003));
}

.handMenu {
    background-color: var(--bg);
    position: absolute;
    border-radius: 50%;
    padding: 1em;
    width: 3.5em; height: 3.5em;
}

.subMenu {
    width: 1.7em; height: 1.7em;
}

.handMenu img {
    width: 100%;
    filter: invert(var(--icon-invert));
}

#btnHandMenu    { right: 0; bottom: 0; }
#btnHandInsta   { right: 5.8em; bottom: 0; }
#btnHandContact { right: 4.5em; bottom: 4.5em; }
#btnHandReviews { right: 0; bottom: 5.8em; }

#hidHandMenuState:checked ~ .subMenu {
    transition: 0.3s;
    right: 0.5em; bottom: 0.5em;
}
#hidHandMenuState:not(:checked) ~ .subMenu {
    transition: 0.3s;
}

