/* DECORATION */
hr {
    background-color: var(--subtle);
    height: 0.1em;
    border: 0;
    border-top: 0.1em solid var(--subtle);
    
}

.codeBox {
    color: var(--txtfg);
}

/* SIDE MENU */
@media (max-device-aspect-ratio: 4/3) {
    #divSideContent {
        display: none;
    }
}


#divSideMenu {
    min-width: 30vw;
    height: auto;
}

/* BACKGROUND */
#divBgClip {
    background-color: inherit;
    /*image*/
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F7f%2F23%2Fa0%2F7f23a01313cac8a605fec4344665b635.jpg&f=1&nofb=1&ipt=d7ce7e58b994e8438f353fdce8b32e7f5df44504a7bdb3ddddc2dc68c76263d6&ipo=images");
    background-repeat: no-repeat;
    background-size: 100vw auto;

    clip-path: polygon(0 32vh, 100% 25vh, 100% 0, 0 0);
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 100%;
}


/* HAND MENU */
#divHandMenu {
    position: fixed;
    right: 1.5em; top: 90%;
    filter: drop-shadow(0 0 1em color-mix(in srgb, var(--subtle) 20%, #0003));
}

.handMenu {
    background-color: var(--bg);
    position: absolute;
    clip-path: circle(50%);
    padding: 1em;
}

.handMenu img {
    width: 3.5em;
    filter: invert(100%);
}

.subMenu img {
    width: 1.7em;
}

#btnHandMenu    { right: 0; bottom: 0; }
#btnHandInsta   { right: 5.5em; bottom: 0; }
#btnHandContact { right: 4.5em; bottom: 4.5em; }
#btnHandReviews { right: 0; bottom: 5.5em; }

#hidHandMenuState:checked ~ .subMenu {
    transition: 0.3s;
    right: 0.5em; bottom: 0.5em;
}
#hidHandMenuState:not(:checked) ~ .subMenu {
    transition: 0.3s;
}

